<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b015b12a73.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/index.css">
    <title><%= user.fullName %></title>
</head>
<body>
    <%- include('partials/header') %>
    <main class="profile">
        <div class="title-profile">
            <h2><%= user.fullName %> </h2>
        </div>
        <div class="img-profile">
            <img src="../img/avatars/<%= user.avatar %> ">
        </div>
        <div class="email-profile"><p><%= user.email %></p></div>
    </main> 
    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body>
</html>